<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>coreyou.servletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetInputSreamServlet</servlet-name>
    <servlet-class>GetInputSreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInputSreamServlet</servlet-name>
    <url-pattern>/GetInputSreamServlet.view</url-pattern>
  </servlet-mapping>
  <servlet>  
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloWorldServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>HelloServlet</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloworld.view</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>message</param-name>
    <param-value>名稱不為HelloServlet才能看到隱藏資料</param-value>
  </context-param>
  <context-param>
    <param-name>counter</param-name>
    <param-value>100</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:odbc:MySQLODBC</param-value>
  </context-param>
  <servlet>
    <servlet-name>ConfigObj</servlet-name>
    <jsp-file>/configObj.jsp</jsp-file>
    <init-param>
      <param-name>author</param-name>
      <param-value>coreyou</param-value>
    </init-param>
    <init-param>
      <param-name>bookname</param-name>
      <param-value>JSP 2.1 Thorough Study</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigObj</servlet-name>
    <url-pattern>/ConfigObj.view</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://tw.coreyouCorp.com/coreyouTagLib</taglib-uri>
      <taglib-location>/WEB-INF/coreyouTagLib.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>/jspConfig.jsp</url-pattern>
      <url-pattern>/WebContent/*</url-pattern>
      <el-ignored>true</el-ignored>
      <scripting-invalid>true</scripting-invalid>
      <include-prelude>/WEB-INF/jspf/prelude.jspf</include-prelude>
      <include-coda>/WEB-INF/jspf/coda.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>filter.HelloFilter</filter-class>
    <init-param>
      <param-name>counter</param-name>
      <param-value>168</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>HelloFilterTest</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>coreyou, peter, john, ,</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>AuthFilterTest</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>PictureVerifyServlet</servlet-name>
    <servlet-class>PictureVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureVerifyServlet</servlet-name>
    <url-pattern>/PictureVerifyServlet/execute</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>/WebContent/images</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.gif,.jpg,.bmp</param-value>
  </context-param>
  <servlet>
    <servlet-name>ResourceInjectionServlet</servlet-name>
    <servlet-class>ResourceInjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceInjectionServlet</servlet-name>
    <url-pattern>/ResourceInjectionServlet</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello, Welcome to the JavaEE Resource Injection.</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Peter, Aurora, John, Tom, </env-entry-value>
  </env-entry>
  <servlet>
    <servlet-name>ResourceInjection</servlet-name>
    <servlet-class>ResourceInjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceInjectionServlet</servlet-name>
    <url-pattern>/ResourceInjectionServlet/execute</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>strHello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello, Welcome to the JavaEE Resource Injection.</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>intI</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>strAryPersons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Peter,Aurora,John,Tom, </env-entry-value>
  </env-entry>
</web-app>